/* h2{
   position: relative;
   font-family : "Ancial-Regular";
   color : rgb(138, 4, 71);
   top: auto;
   font-size : 60vw;
   
} */


/*
 .titreViolet{
   color : purple;
    font-size: 25px
}  


*/
main{
   display : none;
   
} 

#bg-video{
   opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h3{ 
   filter:grayscale(5);
   position:fixed; 
   width: 60px;
   bottom:15px;
   height: auto; 
   left: 60%;
   z-index: 9998;
}

h6{
   filter:grayscale(5);
   position:fixed; 
   width: 60px;
   bottom:15px;
   height: auto; 
   left: 40%;
   z-index: 9998;
}
h7{
   position:fixed; 
   width: 30px;
   bottom: 30px;
   height: auto; 
   left: 50%;
   z-index: 9998;
   animation: brille 1s infinite ease-in-out;
}

@keyframes brille{
   0% {
         opacity:0.7;
        filter:blur(0);
        
    }
    50% {
        opacity:1;
        filter:blur(3px);
        
        
        
        
    }
    100% {
        opacity:0.7;
        filter:blur(0);
        
    }

}

header{
   background-color: rgba(0, 0, 0, 0.447);
   position: fixed;
   height: 90px;
   width: 100%;
   bottom: 0px;
   z-index: 9999;
}

@keyframes balance {
    0% {
        transform: rotate(-50deg);
        
    }
    50% {
        transform: rotate(50deg);
        
        
        
    }
    100% {
        transform: rotate(-50deg);
        
    }
}


img{
   
   width : relative;
    
}

.clignote{
   z-index: 1;
   opacity: 0.8;
  mix-blend-mode: difference;
  width:1px;
  color:aliceblue;
  font-size : 2px;
  font-family : "kaerukaeru";

  position:absolute;

  /* POSITION RANDOM (approx) */
  top: calc(100vh * var(--y));
  left: calc(100vw * var(--x));

  animation: clignote_anim 1s infinite,
             bruit 0.2s infinite alternate;

  pointer-events: none;
}

@keyframes bruit {
  0%   { transform: translate(0px, 0px) rotate(0deg); }
  25%  { transform: translate(1px, -1px) rotate(1deg); }
  50%  { transform: translate(-1px, 1px) rotate(-1deg); }
  75%  { transform: translate(1px, 1px) rotate(0.5deg); }
  100% { transform: translate(-1px, -1px) rotate(-0.5deg); }
}


@keyframes clignote_anim {
    40% {opacity: 0;
        
        
    }
    50% {opacity: 1;
        
        
        
        
    }
    60% {opacity: 0;
        
        
    }
}
.ventquipasse{
  color: rgb(56, 60, 65);
  font-size: 200px;
  font-family: "FlorDeRuina";
  position: absolute;
  white-space: nowrap;
  animation: ventDroite linear infinite;  
  animation-duration: 6s;
  mix-blend-mode:color-dodge;
  
}

.ventquipasse2{
   
  color: rgb(30, 38, 35);
  font-size: 600px;
  font-family: "decaying";
  position: absolute;
  white-space: nowrap;
  animation: ventGauche linear infinite;
  animation-duration: 4s;
  filter:blur(10px);
  mix-blend-mode: difference;
  
}


.grossepolice{
  color:rgba(201, 201, 201, 0.455);
  font-size: 1000px;
  font-family: "decaying";
  position: relative;
  white-space: nowrap;
  filter:blur(6px);
  top: -500px;
  left: 100px;
  filter: blur(30px)
  

}
@keyframes ventDroite {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@keyframes ventGauche {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes orbite{
  from{ transform: rotate(0deg) translate(150px) rotate(0deg); }
  to{ transform: rotate(360deg) translate(150px) rotate(-360deg); }
}

@keyframes orbite2{
  from{ transform: rotate(0deg) translate(250px) rotate(0deg); }
  to{ transform: rotate(360deg) translate(250px) rotate(-360deg); }
}

@keyframes orbite3{
  from{ transform: rotate(0deg) translate(350px) rotate(0deg); }
  to{ transform: rotate(360deg) translate(350px) rotate(-360deg); }
}

.grand:hover{
   /* transform: rotate(20deg); */
   color : rgba(220, 193, 17, 0.793);
   
}



.moyen:hover{
   color : rgba(255, 120, 24, 0.783);

}

.petit:hover{
   color : rgba(71, 167, 11, 0.783);
   
}  

/* .rouge{
   color : rgb(198, 198, 198);
   
}
.bleu{
   color : rgba(179, 179, 179, 0.464);
}
.vert{
   color : rgba(81, 81, 81, 0.475);
} */

/* .rotation1{
   transform: rotate(10deg);
} 
.rotation2{
   transform: rotate(-10deg);
}
.rotation3{
   transform: rotate(20deg);
} */

/* .borderRadius1{
   border-radius: 20px;
}
.borderRadius2{
   border-radius: 50px;
}
.borderRadius3{
   border-radius: 80px;
} */
.grandeMarge{
   position : relative;
   left : 20vw;
   right: 20vw;
}

@font-face {
  font-family: "Nudles"; /*choix du mot clef */
  src: url("../Nudles-Fat.woff2")  /*attention il faut bien ajouter '../' si besoin */
}

@font-face {
   font-family: "FlorDeRuina";
   src: url("../FlorDeRuina-Ruina.woff2")
}

@font-face {
   font-family: "kaerukaeru";
   src: url("../kaerukaeru-Regular.woff2")
}

@font-face{
   font-family: "decaying";
   src: url("../Decaying Felt Pen.ttf")
}



body {
   /* cursor: url(../fleur2.cur), pointer; */
   
   /* cursor : url(../dauphin.png), pointer; */
 


   
   background : transparent;
  
  display: grid;
  grid-template-columns: repeat(20,200px);
  gap: 90px;
  grid-auto-rows:20px;

}


p {
   
   height : 500px;
   width : 500px;
   /* display : flex;
   justify-content : center;
   align-items : center;
   position : absolute; */
   top : 20px;
   color : rgb(255, 41, 91);

   animation-name: couleur; /*renseigner ici le nom de l'anim*/
   animation-duration: 5s; /*durée totale d'une itération de l'animation en seconde*/
   animation-iteration-count: 1; /*nombre d'itération de l'animation*/
   animation-direction:reverse;/*lire l'animation dans un sens puis dans l'autre*/
   animation-fill-mode: forwards;/*si l'animation doit se terminer elle garde sa valeur finale*/
	animation-delay : 0s;/*faire démarer une animation un peu en retard*/

   

}

/* @keyframes couleur {
   from {
      background-color: rgb(97, 78, 56, 0.5);
   }
   to {
      background-color: rgba(167, 131, 85, 0.5);
   }
} */


