/* h2{
   position: relative;
   font-family : "Ancial-Regular";
   color : rgb(138, 4, 71);
   top: auto;
   font-size : 60vw;
   
} */


/*
 .titreViolet{
   color : purple;
    font-size: 25px
}  


*/
main{
   display : none;
   
} 


h2 {
     position:fixed;
   top: 500px;;
   left: 800px;
   width: 200px;
   height: auto;
    z-index: 9999;
    animation: balance 4s infinite ease-in-out;
}


@keyframes balance {
    0% {
         
        transform: rotate(-30deg);
        
    }
    50% {
        transform: rotate(30deg);
        opacity: 0.5;
        filter:blur(10px)
        
        
    }
    100% {
        transform: rotate(-30deg);
    }
}


/* img{
   width : 1000px;
    
} */

.grand{
   
   font-size : 50px;
   font-family : "kaerukaeru";
   cursor: url(../fleur4.cur), pointer;
  animation: gigote3 10s infinite;
}
@keyframes gigote3 {
    0% { transform: translate(-5px,-20px) rotate(-0deg); 
   opacity: 0.2;
}
   25% {
       transform: translate(1px,-1px) rotate(2deg); 
       opacity: 0.3;
      } 
   35%{
      opacity: 0.7;
   }
   45%{
      opacity:0.3
   }
    50% { transform: translate(-25px,20px) rotate(0deg); 
         opacity: 0.5;
   }
   75%{
       transform: translate(10px,20px) rotate(0deg);
       opacity: 0.1;
   }
    /* 75% { transform: translate(1px,1px) rotate(2deg); } */
    100% { transform: translate(-5px,-20px) rotate(-0deg); 
   opacity: 0.2;
}
}


.moyen{
   
   font-size : 10px;
   font-family : "FlorDeRuina";
   cursor: url(../fleur3.cur), pointer;
  animation: gigote2 5s infinite;
}

@keyframes gigote2 {
    0% { transform: translate(0px,0px) rotate(-0deg); 
   opacity: 0;
}
    /* 25% { transform: translate(1px,-1px) rotate(2deg); } */
    50% { transform: translate(-50px,0px) rotate(0deg); 
         opacity: 1;
         font-size: 13px;
   }
    /* 75% { transform: translate(1px,1px) rotate(2deg); } */
    100% { transform: translate(0px,0px) rotate(-0deg); 
   opacity: 0;
}
}

.petit{
  
   font-size : 30px;
  font-family: "Nudles";
  cursor : url(../fleur1.cur), pointer;
  filter: blur(8px);
  animation: gigote 5s infinite ease-in-out;
  


}

@keyframes gigote {
    0% { transform: translate(0px,0px) rotate(20deg); width: 250px;}
    /* 25% { transform: translate(0px,0px) rotate(-60deg); } */ 
    50% { transform: translate(0px,0px) rotate(-20deg); width: 500px; }
    /* 75% { transform: translate(0px,0px) rotate(2deg); } */ 
    100% { transform: translate(0px,0px) rotate(20deg); width: 250px; }
}
.grand:hover{
   /* transform: rotate(20deg); */
   color : rgb(7, 34, 4);
   filter:blur(10px)
}



.moyen:hover{
   color : rgb(20, 32, 3);
filter:blur(10px)
}

.petit:hover{
   color : rgb(13, 29, 2);
   filter:blur(10px)
}  

.rouge{
   color : rgba(255, 120, 24, 0.282);
   
}
.bleu{
   color : rgba(71, 167, 11, 0.305);
}
.vert{
   color : rgba(220, 193, 17, 0.356);
}

/* .rotation1{
   transform: rotate(10deg);
} 
.rotation2{
   transform: rotate(-10deg);
}
.rotation3{
   transform: rotate(20deg);
} */

.borderRadius1{
   border-radius: 20px;
}
.borderRadius2{
   border-radius: 50px;
}
.borderRadius3{
   border-radius: 80px;
}
.grandeMarge{
   position : relative;
   left : 20vw;
   right: 20vw;
}

@font-face {
  font-family: "Nudles"; /*choix du mot clef */
  src: url("../Nudles-Fat.woff2")  /*attention il faut bien ajouter '../' si besoin */
}

@font-face {
   font-family: "FlorDeRuina";
   src: url("../FlorDeRuina-Ruina.woff2")
}

@font-face {
   font-family: "kaerukaeru";
   src: url("../kaerukaeru-Regular.woff2")
}
@font-face{
   font-family: "splatunk";
   src: url("../Splatink_PERSONAL_USE_ONLY.otf")
}

h1{
   filter:blur(1px);
   opacity: 0.8;
   position:fixed; 
   width: 60px;
   bottom:15px;
   height: auto; 
   left: 50%;
   z-index: 9998;
}

h6{
   filter:blur(1px);
   opacity: 0.8;
   position:fixed; 
   width: 60px;
   bottom:15px;
   height: auto; 
   left: 60%;
   z-index: 9999;
}

h7{
   
   position:fixed; 
   width: 30px;
   bottom:30px;
   height: auto; 
   left: 40%;
   z-index: 9999;
   animation: brille 1s infinite ease-in-out;
}

@keyframes brille{
   0% {
         opacity:0.5;
        filter:blur(0);
        
    }
    50% {
        opacity:1;
        filter:blur(3px);
        
        
        
        
    }
    100% {
        opacity:0.5;
        filter:blur(0);
        
    }

}
header{
   background-color: rgba(28, 44, 9, 0.447);
   position: fixed;
   height: 90px;
   width: 100%;
   bottom: 0px;
   z-index: 9999;
}

body{
    cursor: url(../fleur2.cur), pointer;
}
#sms {
  
   /* cursor : url(../dauphin.png), pointer; */
 


   background-image: url(../buisson.png);
   background-size: 2300px;
   
   /* background-repeat: no-repeat; */
   
  
  display: grid;
  grid-template-columns: repeat(10,200px);
  gap: 10px;
  grid-auto-rows:50px;
  height: 300vh;
  overflow-y: hidden;

}


p {
   
   height : 500px;
   width : 500px;
   /* display : flex;
   justify-content : center;
   align-items : center;
   position : absolute; */
   top : 2px;
   color : rgb(255, 41, 91);

   animation-name: couleur; /*renseigner ici le nom de l'anim*/
   animation-duration: 5s; /*durée totale d'une itération de l'animation en seconde*/
   animation-iteration-count: 1; /*nombre d'itération de l'animation*/
   animation-direction:reverse;/*lire l'animation dans un sens puis dans l'autre*/
   animation-fill-mode: forwards;/*si l'animation doit se terminer elle garde sa valeur finale*/
	animation-delay : 0s;/*faire démarer une animation un peu en retard*/

   

}

p2 {
   color: rgba(111, 136, 41, 0.349);
   font-family: "splatunk";
   margin-top: 160px;
   margin-left: 200px;
   transform: rotate(90deg);
   font-size: 200px;
   display :grid;
   grid-template-columns: repeat(1000,1000px);
   animation: anim2 15s infinite ease-in-out;

}

p3{
   color: rgba(255, 222, 35, 0.233);
   filter:blur(5px);
   font-family: "splatunk";
   margin-top: 160px;
   margin-left: 900px;
   transform: rotate(90deg);
   font-size: 160px;
   display :grid;
   grid-template-columns: repeat(1000,5000px);
   animation: anim2 15s infinite reverse;
}

p4{
   color: rgba(255, 222, 35, 0.233);
   filter:blur(5px);
   font-family: "splatunk";
   margin-top: 160px;
   margin-left: 900px;
   transform: rotate(90deg);
   font-size: 160px;
   display :grid;
   grid-template-columns: repeat(1000,5000px);
   animation: anim2 10s infinite reverse;

}

p5{
   color: rgba(255, 123, 35, 0.233);
   filter:blur(6px);
   font-family: "splatunk";
   margin-top: 160px;
   margin-left: 1200px;
   transform: rotate(90deg);
   font-size: 140px;
   display :grid;
   grid-template-columns: repeat(1000,5000px);
   animation: anim2 7s infinite;

}

p6{
   color: rgba(80, 128, 17, 0.233);
   filter:blur(6px);
   font-family: "splatunk";
   margin-top: 160px;
   margin-left: -1200px;
   transform: rotate(90deg);
   font-size: 140px;
   display :grid;
   grid-template-columns: repeat(1000,5000px);
   animation: anim2 7s infinite;

}

@keyframes anim2 {
    0% {
        transform: translate(0px,-200px) rotate(90deg);
        opacity: 0;
        

    }
    15% {
      opacity:1;
      
    }
    50%{
      
    }
    85%{
      opacity: 1;
      
    }
    100% {
        transform: translate(0px,800px) rotate(90deg);
        opacity: 0;
        
    }
}

/* @keyframes couleur {
   from {
      background-color: rgb(97, 78, 56, 0.5);
   }
   to {
      background-color: rgba(167, 131, 85, 0.5);
   }
} */


